 .sidenav {   
   height: 100vh;
   padding: 100px 0px 30px 30px;
   display: flex;   
   align-items: flex-start;
   justify-content: center;
   transition: all ease 0.3s;
   background-color: var(--items-bg);
   overflow: hidden;
 }

 .sidenav-open {
    width: 100%;
 }

 .sidenav-close {
  width: 15%;
 }

 .content {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center; 
   gap: 30px;     
 }
 
 .sidelink {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   gap: 25px;
   background-color: var(--bg);
   padding: 15px 10px 10px 10px;
   border-top-left-radius: 20px;
   border-bottom-left-radius: 20px;
   transition: all ease 0.3s;
   cursor: pointer;
 }

 .sidelink:hover {
  color: var(--items-color);
 }

 @media (max-width:420px) {
  .sidenav-close {
    width: 25%;
   }
 }

