@font-face {
    font-family: 'poppins-light';
    src: url('./Poppins-Light.ttf') format("opentype");
}

@font-face {
    font-family: 'poppins';
    src: url('./Poppins-Regular.ttf') format("opentype");
}

@font-face {
    font-family: 'ibm';
    src: url('./IBMPlexSans-Regular.ttf') format("opentype");
}

@font-face {
    font-family: 'ibm-light';
    src: url('./IBMPlexSans-Light.ttf') format("opentype");
}

@font-face {
    font-family: 'noto';
    src: url('./NotoSans-Regular.ttf') format("opentype");
}

@font-face {
    font-family: 'noto-light';
    src: url('./NotoSans-Light.ttf') format("opentype");
}