.main-layout {
    display: grid;
    grid-template-areas: 
      "navbar navbar"
      "content content";
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
    height: 100vh;
    width: 100%;
    position: relative;
  }
  
  task-navbar {
    grid-area: navbar;
    width: 100%;
  }
  
  tasks-sidenav {
    position: absolute;
    left:0;
    top:60px;
    z-index: 200;
    width: 20%; 
       
  }
  
  .components {
    grid-area: content;
    width: 100%;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;   
  }

  

  @media (max-width:420px) {
    tasks-sidenav {
      width: 35%;
    }
  }
