.main-layout {
    display: grid;
    grid-template-areas: 
      "navbar navbar"
      "content content";
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
    height: 100vh;
    width: 100%;
    row-gap: 50px;    
  }
  
  task-navbar {
    grid-area: navbar;
    width: 100%;
  }

  task-nav-mob {    
    grid-area: nav-mob;
    width: 100%;
  }
  
  .components {    
    grid-area: content;
    width: 100%;    
    display: flex;
    align-items: center;
    justify-content: center;      
  }  

  @media (max-width:760px) {
    .main-layout {
      grid-template-areas: 
      "navbar navbar"
      "content content"
      "nav-mob nav-mob";
    }
  }
