<div class="section form-container">
    <div class="form-wrapper">
        <div class="form-title-wrapper">
            <div class="login-p-wrapper">
                <span [innerHTML]="appIcon | sanitazer"></span>
                <h1>Inicio</h1>
            </div>

            <div class="header-wrapper">
                Una herramienta orientada a la administración de tus tareas
            </div>
        </div>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="inputs-container">
            <mat-form-field appearance="outline">
                <mat-label>Correo Electrónico</mat-label>
                <input matInput type="email" formControlName="userEmail" placeholder="Ingrese su correo">
                <mat-icon matPrefix>
                    <span [innerHTML]="emailIcon | sanitazer"></span>
                </mat-icon>

                @if (emailControl?.invalid &&
                (emailControl?.dirty || emailControl?.touched)) {
                <mat-error>
                    @if (emailControl?.errors?.['required']) {
                    * El correo electrónico es requerido
                    }
                    @if (emailControl?.errors?.['email']) {
                    * Dirección de email inválida
                    }
                </mat-error>
                }
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Contraseña</mat-label>
                <input matInput [type]="showPassword ? 'text' : 'password'" formControlName="userPassword"
                    placeholder="Ingrese su contraseña">
                <mat-icon matPrefix>
                    <span [innerHTML]="passwordIcon | sanitazer"></span>
                </mat-icon>
                <button mat-icon-button matSuffix type="button" (click)="onShowPassword()">
                    <mat-icon>
                        <span [innerHTML]="showIcon | sanitazer"></span>
                    </mat-icon>
                </button>

                @if (passwordControl?.invalid &&
                (passwordControl?.dirty || passwordControl?.touched)) {
                <mat-error>
                    * La contraseña debe poseer al menos 8 caracteres,
                    1 mayúscula, 1 minúscula, 1 número y un caracter especial
                </mat-error>
                }
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
                Sign in
            </button>
        </form>

        <div class="redirection-wrapper">
            <p>
                Aún no estás registrado? Únete a la familia pulsando
                <a class="redirection-link" [routerLink]="['/register']">
                    aquí
                </a>
            </p>            
        </div>
    </div>
</div>