.mobile-component {
    display: none;
    width: 80%;     
}

.mobile-filter {
    width: 100%;
}

mat-paginator {
    background-color: var(--bg) !important;
    color: var(--text-color) !important;  
}

@media (max-width: 760px) {
    app-table {
        display: none;
    }
    .mobile-component {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        
    }
}