

:root {
    --items-bg: #ebecf0;
    --items-color-gradient: #3f8ae5;
    --items-color-gradient-sec: #0a4b9e;
    --items-color: #006bfb;
    --bg: #fff;
    --text-color: #23272f;
    transition: all 0.3s ease;
}


html[data-theme='dark'] {
    --bg: #23272f;
    --items-bg: #343944;
    --text-color: #fff;
    --items-color-gradient: #3f8ae5;
    --items-color-gradient-sec: #0a4b9e;
    --items-color: #006bfb;
}

*,
*::before,
*::after {
    transition: background-color 0.3s ease,
        color 0.3s ease,
        border-color 0.3s ease,
        box-shadow 0.3s ease;
}


body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: var(--bg);
    color: var(--text-color);
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}


::-webkit-scrollbar-track {
    background: transparent;
}


::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    transition: background 0.3s ease;
}


::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.5);
}


body::-webkit-scrollbar {
    display: none;
}


a {
    text-decoration: none;
    font-family: 'poppins';
    font-size: 18px;
    color: var(--text-color);
}

.active {
    background-color: var(--items-color-gradient);
    color: #fff;
    transition: all ease 0.3s;
}

h1 {
    font-family: 'poppins';
    font-size: 20px;
    color: var(--text-color);
}

p {
    font-family: 'ibm';
    font-size: 18px;
    color: var(--text-color);
}

.swal2-popup {
    font-size: 1.25rem !important;
    font-family: 'poppins';
}

.btn-primary {
    border: 1px solid transparent;
    border-radius: 0.3rem;
    width: 70%;
    height: 2.5rem;
    background-color: var(--items-color-gradient-sec);
    color: #fff;
    font-family: 'poppins';
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-cancel {
    border: 1px solid transparent;
    border-radius: 0.3rem;
    width: 70%;
    height: 2.5rem;
    background-color: #fb383f;
    color: #fff;
    font-family: 'poppins';
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}



.btn-primary:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.btn-primary:disabled {
    cursor: not-allowed;
    background-color: var(--items-color-gradient);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 30px #fff inset;
    box-shadow: 0 0 0 30px #fff inset;
}

.btn {
    background-color: transparent;
    border: none;
    padding-top: 5px;
    cursor: pointer;
}

.section.form-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .form-wrapper {
        width: 90%;
        max-width: 450px;
        height: auto;
        padding: 20px 10px;
        border: 1px solid #c5c5c5;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 8px;

        .form-title-wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .login-p-wrapper {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 8px;
            }

            .header-wrapper {
                text-align: start;
                font-family: 'poppins';
                font-size: 18px;
            }

            h1 {
                margin-bottom: 10px;
            }
        }

        form {
            width: 100%;
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 30px;

            .mat-mdc-form-field {
                width: 100%;

                // Adjust prefix icon styles
                .mat-mdc-form-field-icon-prefix {
                    margin-right: 12px;
                }

                // Adjust error message styles
                .mat-mdc-form-field-error {
                    font-size: 0.7rem;
                    color: #eb2929;
                }
            }

            // Password show/hide button
            .mat-icon-button {
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
            }

            .mdc-text-field--outlined .mat-mdc-form-field-infix {
                min-height: 56px;
            }

            // Submit button
            .mat-mdc-raised-button {
                width: 90%;
                height: 40px;
                margin-top: 20px;
                font-family: 'poppins';
                font-size: 16px;
            }
        }

        .redirection-wrapper {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            text-align: center;
            margin-top: 15px;
            font-family: 'poppins';
            font-size: 16px;

            .redirection-link {
                font-size: 16px;
                font-family: 'poppins';
                color: var(--items-color);
                cursor: pointer;
                text-decoration: none;
            }
        }
    }
}

// Responsive adjustments
@media (max-width: 480px) {
    .section.form-container .form-wrapper {
        width: 95%;
        padding: 15px 5px;

        form {
            padding: 5px;
            gap: 20px;
        }
    }
}

app-users,
app-tasks,
app-table {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

app-user-card,
app-tasks-card {
    width: 100%;
}

.lateral-separator {
    width: 2px;
    background-color: var(--text-color);
    height: 20px;
}

matInput {
    color: var(--text-color) !important;
}