<div class="section form-container">
    <div class="form-wrapper">
      <div class="form-title-wrapper">
        <div class="login-p-wrapper">
          <span [innerHTML]="appIcon | sanitazer"></span>
          <h1>Registro</h1>
        </div>       
  
        <div class="header-wrapper">
          Una herramienta orientada a la administración de tus tareas
        </div>
      </div>
  
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="inputs-container">
        <mat-form-field appearance="outline">
          <mat-label>Nombre de Usuario</mat-label>
          <input 
            matInput 
            type="text" 
            formControlName="userName" 
            placeholder="Ingrese su nombre de usuario"
          >
          <mat-icon matPrefix>
            <span [innerHTML]="userIcon | sanitazer"></span>
          </mat-icon>
          
          @if (userNameControl?.invalid && 
               (userNameControl?.dirty || userNameControl?.touched)) {
            <mat-error>
              @if (userNameControl?.errors?.['required']) {
                * El nombre de usuario es requerido
              }
              @if (userNameControl?.errors?.['pattern']) {
                * Nombre de usuario inválido
              }
            </mat-error>
          }
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label>Correo Electrónico</mat-label>
          <input 
            matInput 
            type="email" 
            formControlName="userEmail" 
            placeholder="Ingrese su correo"
          >
          <mat-icon matPrefix>
            <span [innerHTML]="emailIcon | sanitazer"></span>
          </mat-icon>
          
          @if (emailControl?.invalid && 
               (emailControl?.dirty || emailControl?.touched)) {
            <mat-error>
              @if (emailControl?.errors?.['required']) {
                * El correo electrónico es requerido
              }
              @if (emailControl?.errors?.['email']) {
                * Dirección de email inválida
              }
            </mat-error>
          }
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label>Contraseña</mat-label>
          <input 
            matInput 
            [type]="showPassword ? 'text' : 'password'" 
            formControlName="userPassword" 
            placeholder="Ingrese su contraseña"
          >
          <mat-icon matPrefix>
            <span [innerHTML]="passwordIcon | sanitazer"></span>
          </mat-icon>
          <button 
            mat-icon-button 
            matSuffix 
            type="button" 
            (click)="onShowPassword()"
          >
            <mat-icon>
              <span [innerHTML]="showIcon | sanitazer"></span>
            </mat-icon>
          </button>
          
          @if (passwordControl?.invalid && 
               (passwordControl?.dirty || passwordControl?.touched)) {
            <mat-error>
              * La contraseña debe poseer al menos 8 caracteres, 
              1 mayúscula, 1 minúscula, 1 número y un caracter especial
            </mat-error>
          }
        </mat-form-field>
  
        <button 
          mat-raised-button 
          color="primary" 
          type="submit" 
          [disabled]="registerForm.invalid"
        >
          Sign up
        </button>
      </form>
  
      <div class="redirection-wrapper">
        Ya tienes una cuenta? Inicia sesión pulsando 
        <a 
          class="redirection-link" 
          [routerLink]="['/']"
        >
          aquí
        </a>
      </div>
    </div>
  </div>